.h1{
    font-family: 'Press Start 2P', cursive;
    font-family: 'Special Elite', cursive; 
}
p {
    font-family: 'Press Start 2P', cursive;
    font-family: 'Special Elite', cursive; 
}

header{
    font-family: 'Press Start 2P', cursive;
    font-family: 'Special Elite', cursive;
    font-family: 'Homemade Apple', cursive;
}
#random-number{
    font-family: 'Press Start 2P', cursive;
    font-family: 'Special Elite', cursive; 
    font-size: 24px;
} 
#static-text{
    font-family: 'Press Start 2P', cursive;
    font-family: 'Special Elite', cursive; 
    font-size: 24px;
}
body {
    background:url(https://www.bing.com/th?id=OIP.GACYog57lJPW-9o6KCUiyQHaEK&pid=Api&rs=1&p=0) !important;
 } 
 #buttons-div{
    background:url(https://www.bing.com/th?id=OIP.GACYog57lJPW-9o6KCUiyQHaEK&pid=Api&rs=1&p=0) !important;

 }
/* 
#random-number{
    //div holds a random number

}
<div id="game-status"></div>
<button id="ruby-button"></button>
<button id="topaz-button"></button>
<button id="citrine-button"></button>
<button id="emerald-button"></button>
<div id="static-text">Your total score is:</div>
<div id="player-score"></div> */